footer
  .pull-left
    a(href="/#about?position=about") 关于
    span &nbsp;|&nbsp;
    a(href="/#about?position=privacy") 隐私

  center
    ❤ Dedicated to Young Chier

  .pull-right
    a(href="https://github.com/dotSlashLu/node12306")
      img(src="/images/logo.png").footer-logo