.input-checked-red
  color #9d261d
  font-weight bold

.input-checked-green
  color #46a546
  font-weight bold

.input-checked-blue
  color #049cbd
  font-weight bold

.input-checked-yellow
  color #ffc40d
  font-weight bold

.input-checked-orange
  color #f89406
  font-weight bold

.input-checked-pink
  color #c3325f
  font-weight bold
.input-checked-purple
  color #7a43b6
  font-weight bold