#logo(style="margin:10px auto")
.clearfix
坐席:
.btn-group.seat-type(data-toggle="buttons-checkbox",style="text-align:center")
  button.btn(type="button",value="3") 硬卧
  button.btn(type="button",value="0") 二等
  button.btn(type="button",value="1") 硬座
  button.btn(type="button",value="M") 一等
  button.btn(type="button",value="2") 软座
  button.btn(type="button",value="P") 特等
  button.btn(type="button",value="9") 商务
br
.pull-right
  #re-search.btn.tip(title="重新选择日期地点")
    i.icon-circle-arrow-left
  &nbsp;&nbsp;
  #confirm-order.btn.btn-primary 开始订票...
.clearfix
