#logo(style="margin:10px auto")
.clearfix
.control-group
  label.control-label(for="date") 乘车时间:
  #input-date.controls
.control-group
  label.control-label(for="from") 乘车站:
  .controls
    .input-prepend
      span.add-on
        i.icon-map-marker
      input.span2.station(name="from",type="text",placeholder="I'm here")

.control-group
  label.control-label(for="to") 到达站: 
  .controls
    .input-prepend
      span.add-on
        i.icon-home
      input.span2.station(name="to",type="text",placeholder="Home's here")

.clearfix
.confirm-query.btn.pull-right &nbsp;&nbsp;确认&nbsp;&nbsp;
.clearfix
