#logo(style="margin:10px auto")
.clearfix
span 乘车站:
input.span2.station(name="from", placeholder="乘车站")
sapn 到达站:
input.span2.station(name="to", placeholder="到达站")
br
.clearfix
.confirm-query.btn.btn-success.pull-right 确认
.clearfix
