@import 'nib'

body
  padding-top 60px

#logo
  width:138px
  height:45px
  background:url('/images/logo.png')

#navbar-container, #main-container
  width 980px

.navbar .brand
  padding: 0 20px

.container-fluid
  padding-left 0px
  padding-right 0px
