.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container#navbar-container
      a.btn.btn-navbar(data-toggle="collapse", data-target=".nav-collapse")
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.brand(href="#")
        img(src="/images/logo.png",title="Node12306")
      .nav-collapse.collapse
        ul.nav
          li.active
            a(href="#") 登入