body
  background:url("/images/bg_tile.jpg")

#login-form
  width:306px
  height:300px
  margin:100px auto
  padding:20px 10px
  background:url("/images/badge_front.png") no-repeat
  border-radius:5px
  box-shadow: 6px 6px 50px #000

#login-form .logo
  position:relative
  left:50%
  margin-left:-54px

#login-form input
  height:30px

#captcha
  margin-top:8px
  margin-right:8px
  height:25px
  cursor: pointer

footer
  position: absolute
  bottom: 30px
  color: #72767e
  width: 980px
  text-shadow: black 0px 1px 2px

footer a
  color: #acb5c5

footer a:hover
  color: #72767e

footer center
  font-size: 18px
  color: #acb5c5

.footer-logo
  margin-top: -50px
  width: 100px